appdirs
attrs
better-exceptions
blessed
bpython
certifi
charset-normalizer
coverage
curtsies
cwcwidth
exceptiongroup
greenlet
idna
iniconfig
jedi
libtmux
markdown-it-py
mdurl
packaging
parso
pluggy
prompt-toolkit
ptpython
Pygments
pytest-cov
pytest-rerunfailures
pytest-rerunfailures
pytest-sugar
pytest
pyxdg
requests
rich
six
termcolor
tomli
urllib3
wcwidth
