appdirs==1.4.4
attrs==25.1.0
better-exceptions==0.3.3
blessed==1.20.0
bpython==0.25
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.12
curtsies==0.4.2
cwcwidth==0.1.10
exceptiongroup==1.2.2
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
jedi==0.19.2
libtmux==0.46.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
parso==0.8.4
pluggy==1.5.0
prompt-toolkit==3.0.50
ptpython==3.0.29
Pygments==2.19.1
pytest-cov==6.0.0
pytest-rerunfailures
pytest-rerunfailures==15.0
pytest-sugar==1.0.0
pytest==8.3.5
pyxdg==0.28
requests==2.32.3
rich==13.9.4
six==1.17.0
termcolor==2.5.0
tomli==2.2.1
urllib3==2.3.0
wcwidth==0.2.13
