
appdirs==1.4.4
attrs==23.1.0
better-exceptions==0.3.3
blessed==1.20.0
bpython==0.24
certifi==2023.7.22
charset-normalizer==3.2.0
coverage==7.2.7
curtsies==0.4.1
cwcwidth==0.1.8
exceptiongroup==1.1.2
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
jedi==0.18.2
libtmux==0.22.1
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.1
parso==0.8.3
pluggy==1.2.0
prompt-toolkit==3.0.39
ptpython==3.0.23
Pygments==2.15.1
pytest-cov==4.1.0
pytest-rerunfailures
pytest-rerunfailures==12.0
pytest-sugar==0.9.7
pytest==7.2.0
pyxdg==0.28
requests==2.31.0
rich==13.4.2
six==1.16.0
termcolor==2.3.0
tomli==2.0.1
urllib3==2.0.4
wcwidth==0.2.6
