shell

# .config/nvim/lua/custom/

{{ if eq .version_manager "mise" -}}
.chezmoiscripts/run_onchange_before_02-ubuntu-install-asdf.sh
.chezmoiscripts/run_onchange_before_02-centos-install-asdf.sh
.chezmoiscripts/run_onchange_after_50-macos-install-asdf-plugins.sh
.chezmoiscripts/run_onchange_after_50-ubuntu-install-asdf-plugins.sh
.chezmoiscripts/run_onchange_after_50-centos-install-asdf-plugins.sh
{{ else -}}
.chezmoiscripts/run_onchange_before_02-macos-install-mise.sh
.chezmoiscripts/run_onchange_before_02-ubuntu-install-mise.sh
.chezmoiscripts/run_onchange_before_02-centos-install-mise.sh
.chezmoiscripts/run_onchange_after_50-mise-install-tools.sh
.chezmoiscripts/run_once_before_01-mise-backup-tool-versions.sh
{{ end -}}

{{ if ne .chezmoi.os "darwin" -}}
.config/iterm2
{{ end -}}
