{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* Boolean feature tags */}}
{{/* If this machine should have ruby packages */}}
{{- $ruby := false -}}
{{/* If this machine should have pyenv packages */}}
{{- $pyenv := false -}}
{{/* If this machine should have nodejs packages */}}
{{- $nodejs := false -}}
{{/* If this machine should have k8s packages */}}
{{- $k8s := false -}}
{{/* If this machine should have opencv packages */}}
{{- $opencv := false -}}
{{/* If this machine should have fnm packages */}}
{{- $fnm := false -}}
{{/* If this machine should use cuda */}}
{{- $cuda := false -}}
{{- "" -}}

{{/* Configs */}}
{{- $name := "Malcolm Jones" -}}
{{- $email := "bossjones@theblacktonystark.com" -}}
{{- $computer_name := default "boss workstation" (env "CM_computer_name") -}}
{{- $hostname := default "bossworkstation" (env "CM_hostname") -}}
{{- "" -}}

{{- /* If running interactively */ -}}
{{- /*   - if config was previously set, reuse it */ -}}
{{- /*   - if config was not previously set, prompt */ -}}
{{- if $interactive -}}
{{-   if hasKey . "name" -}}
{{-     $name = .name -}}
{{-   else -}}
{{-     $name = promptString "Name" $name -}}
{{-   end -}}

{{-   if hasKey . "email" -}}
{{-     $email = .email -}}
{{-   else if $interactive -}}
{{-     $email = promptString "Email" $email -}}
{{-   end -}}

{{-   if hasKey . "computer_name" -}}
{{-     $computer_name = .computer_name -}}
{{-   else if $interactive -}}
{{-     $computer_name = promptString "Computer name" $computer_name -}}
{{-   end -}}

{{-   if hasKey . "hostname" -}}
{{-     $hostname = .hostname -}}
{{-   else if $interactive -}}
{{-     $hostname = promptString "Host name" $hostname -}}
{{-   end -}}

{{-   if hasKey . "ruby" -}}
{{-     $ruby = .ruby -}}
{{-   else -}}
{{-     $ruby = promptBool "ruby" -}}
{{-   end -}}

{{-   if hasKey . "pyenv" -}}
{{-     $pyenv = .pyenv -}}
{{-   else -}}
{{-     $pyenv = promptBool "pyenv" -}}
{{-   end -}}

{{-   if hasKey . "nodejs" -}}
{{-     $nodejs = .nodejs -}}
{{-   else -}}
{{-     $nodejs = promptBool "nodejs" -}}
{{-   end -}}

{{-   if hasKey . "k8s" -}}
{{-     $k8s = .k8s -}}
{{-   else -}}
{{-     $k8s = promptBool "k8s" -}}
{{-   end -}}

{{-   if hasKey . "cuda" -}}
{{-     $cuda = .cuda -}}
{{-   else -}}
{{-     $cuda = promptBool "cuda" -}}
{{-   end -}}

{{-   if hasKey . "fnm" -}}
{{-     $fnm = .fnm -}}
{{-   else -}}
{{-     $fnm = promptBool "fnm" -}}
{{-   end -}}

{{-   if hasKey . "opencv" -}}
{{-     $opencv = .opencv -}}
{{-   else -}}
{{-     $opencv = promptBool "opencv" -}}
{{-   end -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

scriptEnv:
  SHELDON_CONFIG_DIR: "$HOME/.sheldon"
  SHELDON_DATA_DIR: "$HOME/.sheldon"

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  ruby: {{ $ruby }}
  pyenv: {{ $pyenv }}
  nodejs: {{ $nodejs }}
  k8s: {{ $k8s }}
  cuda: {{ $cuda }}
  opencv: {{ $opencv }}
  fnm: {{ $fnm }}
  myFzfVersion: "0.42.0"
  mySheldonVersion: "0.6.6"
  myAsdfVersion: "v0.11.2"
  myAsdfRubyVersion: "3.2.1"
  myAsdfGolangVersion: "1.20.5"
  myAsdfTmuxVersion: "2.9a"
  myAsdfNeovimVersion: "latest"
  myAsdfGithubCliVersion: "2.31.0"
  myAsdfMkcertVersion: "1.4.4"
  myAsdfShellcheckVersion: "0.9.0"
  myAsdfShfmtVersion: "3.7.0"
  myAsdfYqVersion: "4.34.1"
  myAsdfHelmVersion: "3.14.2"
  myAsdfHelmfileVersion: "0.162.0"
  myAsdfHelmdocsVersion: "1.13.1"
  myAsdfK9sVersion: "latest"
  myAsdfKubectxVersion: "0.9.5"
  myAsdfOpaVersion: "0.62.1"
  myAsdfKubectlVersion: "1.24.13"
  myAsdfKubetailVersion: "latest"
