{{ if eq .chezmoi.os "linux" -}}
# ---------------------------------------------------------
# chezmoi managed - ~/.bashrc
# ---------------------------------------------------------
export PATH="${HOME}/bin:${HOME}/.bin:${HOME}/.local/bin:$PATH"
export PATH="/usr/local/cuda/bin:${PATH}"
export PATH="/usr/local/cuda-11.8/bin${PATH:+:${PATH}}"
export LD_LIBRARY_PATH="/usr/local/cuda-11.8/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"


[ -f ~/.fzf.bash ] && . ~/.fzf.bash

. "$HOME/.cargo/env"

export PYENV_ROOT=~/.pyenv
export PATH="${PYENV_ROOT}/bin:${PYENV_ROOT}/shims:$PATH"

if [ -d "${HOME}/.pyenv" ]
then
        export PYENV_ROOT="${HOME}/.pyenv"
        export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$($HOME/.pyenv/bin/pyenv init --path)"
        eval "$($HOME/.pyenv/bin/pyenv init -)"
        # $HOME/.pyenv/bin/pyenv virtualenvwrapper_lazy
fi

if [[ "$OSTYPE" == linux* ]]
then
    export ASDF_DIR="${HOME}/.asdf"
fi
. "$HOME/.asdf/asdf.sh"
. "$HOME/.asdf/lib/asdf.sh"
. "$HOME/.asdf/completions/asdf.bash"


# fnm
export PATH="$HOME/.local/share/fnm:$PATH"
eval "`fnm env`"
[ -f "$HOME/.rye/env" ] && . "$HOME/.rye/env"
[ -d "$HOME/.cargo/bin" ] && export PATH="$HOME/.cargo/bin:$PATH"

# ---------------------------------------------------------
# chezmoi managed - end
# ---------------------------------------------------------
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
# ---------------------------------------------------------
# chezmoi managed - ~/.bashrc
# ---------------------------------------------------------
# homebrew var setup
UNAME_MACHINE="$(/usr/bin/uname -m)"
if [ "$UNAME_MACHINE" = "arm64" ]
then
  HOMEBREW_PREFIX="/opt/homebrew"
  HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}"
else
  HOMEBREW_PREFIX="/usr/local"
  HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}/Homebrew"
fi

export PATH="$HOMEBREW_PREFIX/bin:$PATH"
export PATH="${HOME}/bin:${HOME}/.bin:${HOME}/.local/bin:$PATH"

if [ -f "$HOME/.fzf.bash" ]
then
  . ~/.fzf.bash
fi

if [ -f "$HOME/.cargo/env" ]
then
  . "$HOME/.cargo/env"
fi


######################################################################################
# pyenv
######################################################################################
export PYENV_ROOT=~/.pyenv
export PATH="${PYENV_ROOT}/bin:${PYENV_ROOT}/shims:$PATH"
OPT_HOMEBREW="${HOMEBREW_PREFIX}"
if [ -s "$OPT_HOMEBREW"/bin/brew ]
then
    eval "$($OPT_HOMEBREW/bin/brew shellenv)"
fi

if [ -s "$HOMEBREW_PREFIX"/opt/pyenv/libexec/pyenv ]; then
  eval "$(${HOMEBREW_PREFIX}/opt/pyenv/libexec/pyenv init --path)"
  eval "$(${HOMEBREW_PREFIX}/opt/pyenv/libexec/pyenv init -)"
  fpath=(${HOMEBREW_PREFIX}/opt/pyenv/completions $fpath)
  pyenv virtualenvwrapper_lazy

elif [ -s "$HOME/.pyenv/bin/pyenv" ]
then
  export PYENV_ROOT=~/.pyenv
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$($HOME/.pyenv/bin/pyenv init --path)"
  eval "$($HOME/.pyenv/bin/pyenv init -)"
  # $HOME/.pyenv/bin/pyenv virtualenvwrapper_lazy
fi
######################################################################################

OS="`uname`"
case $OS in
  'Linux')
    OS='Linux'
    ;;
  'FreeBSD')
    OS='FreeBSD'
    ;;
  'WindowsNT')
    OS='Windows'
    ;;
  'Darwin')
    OS='Mac'
    ;;
  'SunOS')
    OS='Solaris'
    ;;
  *) ;;
esac

if [ "$OS" = 'Linux' ]
then
    export ASDF_DIR="${HOME}/.asdf"
    . "$HOME/.asdf/asdf.sh"
    . "$HOME/.asdf/lib/asdf.sh"
    . "$HOME/.asdf/completions/asdf.bash"
fi

# fnm
export PATH="$HOME/.local/share/fnm:$PATH"
eval "`fnm env`"
[ -f "$HOME/.rye/env" ] && . "$HOME/.rye/env"
[ -d "$HOME/.cargo/bin" ] && export PATH="$HOME/.cargo/bin:$PATH"

# ---------------------------------------------------------
# chezmoi managed - end
# ---------------------------------------------------------
{{ end -}}
