# ---------------------------------------------------------
# chezmoi managed - ~/.profile
# ---------------------------------------------------------
export PATH="${HOME}/bin:${HOME}/.bin:${HOME}/.local/bin:$PATH"
export PATH=/usr/local/cuda/bin:${PATH}
export PATH=/usr/local/cuda-11.8/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda-11.8/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}

[ -f ~/.fzf.bash ] && . ~/.fzf.bash

. "$HOME/.cargo/env"

export PYENV_ROOT="${HOME}/.pyenv"
export PATH="${PYENV_ROOT}/bin:${PYENV_ROOT}/shims:$PATH"

if [ -d "${HOME}/.pyenv" ]
then
        export PYENV_ROOT="${HOME}/.pyenv"
        export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$($HOME/.pyenv/bin/pyenv init --path)"
        eval "$($HOME/.pyenv/bin/pyenv init -)"
        # $HOME/.pyenv/bin/pyenv virtualenvwrapper_lazy
fi

if [[ "$OSTYPE" == linux* ]]
then
    export ASDF_DIR="${HOME}/.asdf"
fi
. "$HOME/.asdf/asdf.sh"
. "$HOME/.asdf/lib/asdf.sh"
. "$HOME/.asdf/completions/asdf.bash"

# fnm
export PATH="$HOME/.local/share/fnm:$PATH"
eval "`fnm env`"

# sheldon version {{- .mySheldonVersion}}
# sheldon version {{ .mySheldonVersion}}

# ---------------------------------------------------------
# chezmoi managed - end
# ---------------------------------------------------------
