# ---------------------------------------------------------
# chezmoi managed - ~/.profile
# ---------------------------------------------------------
export PATH="/home/pi/bin:/home/pi/.bin:/home/pi/.local/bin:$PATH"
export PATH=/usr/local/cuda/bin:${PATH}
export PATH=/usr/local/cuda-12.1/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda-12.1/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
. "$HOME/.cargo/env"
export PYENV_ROOT="${HOME}/.pyenv"

if [ -d "${HOME}/.pyenv" ]
then
        export PYENV_ROOT="${HOME}/.pyenv"
        export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$($HOME/.pyenv/bin/pyenv init --path)"
        eval "$($HOME/.pyenv/bin/pyenv init -)"
        # $HOME/.pyenv/bin/pyenv virtualenvwrapper_lazy
fi

if [[ "$OSTYPE" == linux* ]]
then
    export ASDF_DIR="${HOME}/.asdf"
fi
source "/home/pi/.asdf/asdf.sh"
source "/home/pi/.asdf/lib/asdf.sh"

# ---------------------------------------------------------
# chezmoi managed - end
# ---------------------------------------------------------
