{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include "shell/init.zsh" }}

{{  if lookPath "sheldon" -}}
# Source sheldon plugins
{{    output "sheldon" "source" | trim }}
{{  end -}}

{{ end -}}

# ------

{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include "shell/init.zsh" }}

{{  if lookPath "sheldon" -}}
# Source sheldon plugins
{{    output "sheldon" "source" | trim }}
{{  end -}}

{{ end -}}
