{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include "shell/init.zsh" }}

{{  if lookPath "sheldon" -}}
# Source sheldon plugins (with runtime config check)
if [[ -f "$HOME/.sheldon/plugins.toml" ]]; then
    eval "$(sheldon source)"
fi
{{  end -}}

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end -}}

# ------

{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include "shell/init.zsh" }}

{{  if lookPath "sheldon" -}}
# Source sheldon plugins (with runtime config check)
if [[ -f "$HOME/.sheldon/plugins.toml" ]]; then
    eval "$(sheldon source)"
fi
{{  end -}}

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
[ -d "$HOME/.cargo/bin" ] && export PATH="$HOME/.cargo/bin:$PATH"
{{ end -}}
