{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}
#!/bin/bash

mkdir -p  $HOME/.zsh/completion || true
chezmoi completion zsh > ~/.zsh/completion/_chezmoi
fpath+=("$HOME/.zsh/completions")

{{ end -}}
{{ end -}}

