{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}
#!/bin/sh

# Install common ubuntu packages for 20.04

printf "${green}[10 - ubuntu] ${reset}"
sudo apt update
sudo apt install -y curl git gnupg zsh tar software-properties-common vim direnv
sudo apt-get install fd-find -y
sudo apt-get install silversearcher-ag -y
sudo apt-get install ripgrep -y
sudo apt-get install jq tree parallel file -y
sudo apt install -yq fzf perl gettext direnv vim awscli ccze
sudo apt-get -y install \
        build-essential \
        bzr \
        curl \
        doxygen \
        g++ \
        git-core \
        graphviz-dev \
        libbz2-dev \
        libcairo2-dev \
        libenchant-2-2 \
        libevent-dev \
        libffi-dev \
        libfreetype6 \
        libfreetype6-dev \
        libgraphviz-dev \
        libjpeg8-dev \
        libjpeg-dev \
        liblcms2-dev \
        libmysqlclient-dev \
        libpq-dev \
        libreadline-dev \
        libsqlite3-dev \
        libtiff5-dev \
        libwebp-dev \
        libxml2-dev \
        libxslt1-dev \
        libxslt-dev \
        mercurial \
        pandoc \
        pkg-config \
        postgresql-client \
        subversion \
        zlib1g-dev

# asdf Python extra requirements
# https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install -y \
    liblzma-dev \
    libncursesw5-dev \
    libssl-dev \
    libxmlsec1-dev \
    llvm \
    make \
    tk-dev \
    wget \
    xz-utils

# asdf nodejs extra requirements
# https://github.com/asdf-vm/asdf-nodejs#linux-debian
sudo apt-get install -y \
    dirmngr \
    gpg

# asdf Golang extra requirements
# https://github.com/kennyp/asdf-golang#linux-debian
sudo apt-get install -y \
    coreutils

{{ end -}}

{{ end -}}
