{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}
#!/bin/sh

export DEBIAN_FRONTEND=noninteractive
export LANG=C.UTF-8

mkdir -p $HOME/.git-template || true

# Use sudo if not running as root (works in Docker or outside)
if [ "$(id -u)" -eq 0 ]; then
    SUDO=""
else
    SUDO="sudo"
fi

$SUDO apt update
$SUDO apt install -y curl git gnupg zsh tar software-properties-common vim fzf perl gettext direnv vim wget build-essential bash-completion sudo ffmpeg bc gawk libmediainfo-dev
$SUDO sh -c "curl https://raw.githubusercontent.com/kadwanev/retry/master/retry -o /usr/local/bin/retry && chmod +x /usr/local/bin/retry"
{{ end -}}
{{- if (eq .chezmoi.osRelease.name "Debian") -}}
#!/bin/sh
export DEBIAN_FRONTEND=noninteractive
export LANG=C.UTF-8

mkdir -p $HOME/.git-template || true

# Use sudo if not running as root (works in Docker or outside)
if [ "$(id -u)" -eq 0 ]; then
    SUDO=""
else
    SUDO="sudo"
fi

$SUDO apt update
$SUDO apt install -y curl git gnupg zsh tar software-properties-common vim fzf perl gettext direnv vim wget build-essential bash-completion sudo ffmpeg bc gawk libmediainfo-dev
$SUDO sh -c "curl https://raw.githubusercontent.com/kadwanev/retry/master/retry -o /usr/local/bin/retry && chmod +x /usr/local/bin/retry"
{{ end -}}
{{ end -}}
