{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}

#!/usr/bin/env zsh

# Install fd

# if fd completion doesn't exist, initialize it
if [ ! -f ~/.zsh/completion/_fd ]
then
    mkdir -p  $HOME/.zsh/completion || true
    curl -L 'https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd' > ~/.zsh/completion/_fd
    fpath+=("$HOME/.zsh/completion")
fi


# if sheldon completion doesn't exist, initialize it
if [ ! -f ~/.zsh/completion/_sheldon ]
then
    mkdir -p  $HOME/.zsh/completion || true
    ~/.local/bin/sheldon completions --shell zsh > ~/.zsh/completion/_sheldon
    fpath+=("$HOME/.zsh/completion")
fi


{{ end -}}
{{ end -}}
