{{- if (eq .chezmoi.os "linux") -}}

#!/bin/sh

# Install sheldon

printf "${green}[10 - linux] ${reset}"
if [ ! -f ~/.local/bin/sheldon ]
then
    printf "${yellow}[11 - sheldon does not exist, downloading] ${reset}"
    curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin --tag {{ .mySheldonVersion}}

fi

{{ end -}}
