{{- if (eq .chezmoi.os "linux") -}}
{{- if or (eq .chezmoi.osRelease.id "centos") (eq .chezmoi.osRelease.id "ol") (eq .chezmoi.osRelease.id "rhel") -}}
#!/bin/sh

export LANG=C.UTF-8

mkdir -p $HOME/.git-template || true

is_docker() {
    [ -f /.dockerenv ] ||
    grep -q docker /proc/1/cgroup ||
    [ -n "$container" ] ||
    [[ "$(hostname)" == *"docker"* ]]
}

if is_docker; then
    dnf update -y
    dnf install -y curl git gnupg2 zsh tar vim fzf perl gettext awscli2 wget gcc-c++ bash-completion sudo ffmpeg bc gawk --allowerasing
    curl https://raw.githubusercontent.com/kadwanev/retry/master/retry -o /usr/local/bin/retry && chmod +x /usr/local/bin/retry
else
    sudo dnf update -y
    sudo dnf install -y curl git gnupg2 zsh tar vim fzf perl gettext awscli2 wget gcc-c++ bash-completion sudo ffmpeg bc gawk --allowerasing
    sudo sh -c "curl https://raw.githubusercontent.com/kadwanev/retry/master/retry -o /usr/local/bin/retry && chmod +x /usr/local/bin/retry"
fi
{{ end -}}
{{ end -}}
