{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}
#!/bin/sh

# Install asdf

printf "${green}[10 - ubuntu] ${reset}"
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --depth 1 --branch v0.10.2 || true

{{ end -}}

{{ end -}}
