{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# NOTE: https://github.com/asdf-vm/asdf-ruby/issues/345 (compile ruby on arm64)
UNAME_MACHINE="$(/usr/bin/uname -m)"
if [ "$UNAME_MACHINE" = "arm64" ]
then
  # ruby needs this
  export RUBY_CONFIGURE_OPTS="--disable-install-doc --disable-shared --with-openssl-dir=$(brew --prefix openssl@3)"
  export ASDF_RUBY_BUILD_VERSION=master

  # tmux needs this
  export LDFLAGS="${LDFLAGS} -L${LOCAL_HOMEBREW_PREFIX}/opt/openssl@3/lib"
  export CPPFLAGS="${CPPFLAGS} -I${LOCAL_HOMEBREW_PREFIX}/opt/openssl@3/include"
  export PKG_CONFIG_PATH="${PKG_CONFIG_PATH} ${LOCAL_HOMEBREW_PREFIX}/opt/openssl@3/lib/pkgconfig"
fi

# Install asdf plugins

export ASDF_DIR="${HOME}/.asdf"
export ASDF_COMPLETIONS="$ASDF_DIR/completions"
. $HOME/.asdf/asdf.sh
export PATH="$HOME/.asdf/shims:$HOME/.asdf/bin:$PATH"

printf "${green}[50 - macos] ${reset}"
{{- if or (lt 31 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_ASDF_PLUGINS") }}
echo "Skip installing asdf plugins"
exit 0
{{ else }}
echo "Install asdf plugins"
{{- end }}

# install custom plugin repos
asdf plugin-add kubectl https://github.com/asdf-community/asdf-kubectl.git || true
asdf plugin-add helm https://github.com/Antiarchitect/asdf-helm.git || true
asdf plugin-add k9s https://github.com/looztra/asdf-k9s || true
asdf plugin-add kubectx https://github.com/virtualstaticvoid/asdf-kubectx.git || true
asdf plugin-add mkcert https://github.com/salasrod/asdf-mkcert.git || true
asdf plugin add opa https://github.com/tochukwuvictor/asdf-opa.git || true
asdf plugin-add helm-docs https://github.com/sudermanjr/asdf-helm-docs.git || true

{{ $plugins := dict
  "ruby"    (.myAsdfRubyVersion)
  "golang"    (.myAsdfGolangVersion)
  "tmux" (.myAsdfTmuxVersion)
  "neovim" (.myAsdfNeovimVersion)
  "github-cli" (.myAsdfGithubCliVersion)
  "mkcert" (.myAsdfMkcertVersion)
  "shellcheck" (.myAsdfShellcheckVersion)
  "shfmt" (.myAsdfShfmtVersion)
  "yq" (.myAsdfYqVersion)
  "helm" (.myAsdfHelmVersion)
  "helmfile" (.myAsdfHelmfileVersion)
  "helm-docs" (.myAsdfHelmdocsVersion)
  "k9s" (.myAsdfK9sVersion)
  "kubectx" (.myAsdfKubectxVersion)
  "mkcert" (.myAsdfMkcertVersion)
  "opa" (.myAsdfOpaVersion)
  "kubectl" (.myAsdfKubectlVersion)
}}

# Add plugins & install versions
{{ range (keys $plugins) -}}
  {{- $key := . }}
  {{- $val := get $plugins $key }}

  asdf plugin-add {{ $key }} || true

  {{- if not (eq $val "None") }}
    asdf install {{ $key }} {{ $val }} || true
    asdf global {{ $key }} {{ $val }} || true
  {{- end -}}
{{ end }}

# -- Packages -- #

{{ $rubyPackages := list
  "foreman"
  "tmuxinator"
}}

{{ range sortAlpha $rubyPackages }}
  gem install {{ . }} --no-doc
{{ end -}}

asdf reshim

{{ end -}}
