{{- if (eq .chezmoi.os "darwin") -}}

#!/bin/sh

# Install sheldon
{{ if eq .chezmoi.arch "arm64" -}}
echo "arm64 detected ...."
if [ ! -f ~/.cargo/env ]; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
	source $HOME/.cargo/env
	cargo install ripgrep fd-find
	fd /root
fi

mkdir -p ~/.local/src || true
mkdir -p ~/.local/bin || true
mkdir -p ~/.git-template/hooks || true
cd ~/.local/src
git clone https://github.com/rossmacarthur/sheldon.git
cd sheldon
git checkout {{ .mySheldonVersion}}
cross build --locked --release --target aarch64-apple-darwin
./target/aarch64-apple-darwin/release/sheldon --help
cp -a ./target/aarch64-apple-darwin/release/sheldon ~/.local/bin/sheldon
cd -
{{   else -}}
printf "${green}[10 - macos] ${reset}"
if [ ! -f ~/.local/bin/sheldon ]
then
    printf "${yellow}[11 - sheldon does not exist, downloading] ${reset}"
    set -x
    curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin --tag {{ .mySheldonVersion}}
    set +x

fi
{{   end }}

# TODO: Add code to compile sheldon from source if arch is arm64
# 6183  2023-07-03 18:34  vim /Users/malcolm/.config/chezmoi/chezmoi.toml
# 6184  2023-07-03 18:35  chezmoi init -R --debug -v --apply https://github.com/bossjones/zsh-dotfiles.git
# 6185  2023-07-03 18:39  hich sheldon
# 6186  2023-07-03 18:39  which sheldon
# 6187  2023-07-03 18:40  brew info sheldon
# 6188  2023-07-03 18:43  cargo install cross
# 6189  2023-07-03 18:45  export PATH="/Users/malcolm/.cargo/bin:$PATH"
# 6190  2023-07-03 18:45  cd ~/dev
# 6191  2023-07-03 18:45  gcl git@github.com:rossmacarthur/sheldon.git
# 6192  2023-07-03 18:45  cd sheldon
# 6193  2023-07-03 18:46  gco 0.6.6
# 6194  2023-07-03 18:47  cross build --help
# 6195  2023-07-03 18:48  cross build --locked --release --target aarch64-apple-darwin
# 6196  2023-07-03 18:48  ls -lta ~/.cargo/bin
# 6197  2023-07-03 18:48  ls
# 6198  2023-07-03 18:49  ls -lta target
# 6199  2023-07-03 18:49  ls -lta target/aarch64-apple-darwin
# 6200  2023-07-03 18:49  ls -lta target/aarch64-apple-darwin/release
# 6201  2023-07-03 18:49  target/aarch64-apple-darwin/release/sheldon --help
# ~/dev/sheldon tags/0.6.6
# ❯ sheldon --version
# sheldon 0.6.6 (31c6df8f7 2022-01-29)
# rustc 1.70.0 (90c541806 2023-05-31) (built from a source tarball)

{{ end -}}
