{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") -}}
#!/usr/bin/env zsh

mkdir -p  $HOME/.zsh/completion || true
~/.bin/chezmoi completion zsh > ~/.zsh/completion/_chezmoi
fpath+=("$HOME/.zsh/completion")

{{ end -}}
{{ end -}}

