{{- if and (eq .chezmoi.os "linux") (eq .version_manager "mise") -}}
{{- if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/sh

# Install mise on Ubuntu via the official installer
#   https://mise.jdx.dev/getting-started.html

printf "${green}[02 - ubuntu] ${reset}"
echo "Install mise"

command -v mise >/dev/null 2>&1 || curl https://mise.run | sh

{{ end -}}
{{ end -}}
