{{- if (eq .chezmoi.os "linux") -}}
{{- if or (eq .chezmoi.osRelease.id "centos") (eq .chezmoi.osRelease.id "ol") (eq .chezmoi.osRelease.id "rhel") -}}

#!/usr/bin/env zsh

# Install fd

# if fd completion doesn't exist, initialize it
if [ ! -f ~/.zsh/completion/_fd ]
then
    mkdir -p  $HOME/.zsh/completion || true
    mkdir -p  $HOME/.zsh/completions || true
    curl -L 'https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd' > ~/.zsh/completion/_fd
    curl -L 'https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd' > ~/.zsh/completions/_fd
    fpath+="$HOME/.zsh/completion"
fi


# if sheldon completion doesn't exist, initialize it
if [ ! -f ~/.zsh/completion/_sheldon ]
then
    mkdir -p  $HOME/.zsh/completion || true
    ~/.local/bin/sheldon completions --shell zsh > ~/.zsh/completion/_sheldon
    fpath+="$HOME/.zsh/completion"
fi

mkdir -p ~/.sheldon/repos/github.com/ohmyzsh/ohmyzsh/functions || true
mkdir -p ~/.zsh/completions || true

if [ -n "$(command which k9s 2>/dev/null)" ]; then
    k9s completion zsh > ~/.zsh/completion/_k9s
    k9s completion zsh > ~/.zsh/completions/_k9s
fi

if [ -n "$(command which fnm 2>/dev/null)" ]; then
    fnm completions --shell zsh > ~/.zsh/completion/_fnm
    fnm completions --shell zsh > ~/.zsh/completions/_fnm
fi

if [ -n "$(command which fd 2>/dev/null)" ]; then
    curl -L 'https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd' > ~/.zsh/completion/_fd
    curl -L 'https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd' > ~/.zsh/completions/_fd
fi

if [ -n "$(command which docker-compose 2>/dev/null)" ]; then
    curl -L https://raw.githubusercontent.com/docker/compose/1.26.0/contrib/completion/zsh/_docker-compose > ~/.zsh/completion/_docker-compose
    curl -L https://raw.githubusercontent.com/docker/compose/1.26.0/contrib/completion/zsh/_docker-compose > ~/.zsh/completions/_docker-compose
fi

if [ -n "$(command which argo 2>/dev/null)" ]; then
    argo completion zsh > ~/.zsh/completion/_argo
    argo completion zsh > ~/.zsh/completions/_argo
fi


if [ -n "$(command which argocd 2>/dev/null)" ]; then
    argocd completion zsh > ~/.zsh/completion/_argocd
    argocd completion zsh > ~/.zsh/completions/_argocd
fi

if [ -n "$(command which kubectl 2>/dev/null)" ]; then
    kubectl completion zsh > ~/.zsh/completion/_kubectl
    kubectl completion zsh > ~/.zsh/completions/_kubectl
fi

if [ -n "$(command which kustomize 2>/dev/null)" ]; then
    kustomize completion zsh > ~/.zsh/completion/_kustomize
    kustomize completion zsh > ~/.zsh/completions/_kustomize
fi

if [ -n "$(command which just 2>/dev/null)" ]; then
    just --completions zsh > ~/.zsh/completion/_just
    just --completions zsh > ~/.zsh/completions/_just
fi

if [ -n "$(command which helm 2>/dev/null)" ]; then
    helm completion zsh > "${fpath[1]}/_helm"
    helm plugin install https://github.com/databus23/helm-diff
fi

if [ -n "$(command which uv 2>/dev/null)" ]; then
    uv generate-shell-completion zsh > ~/.zsh/completions/_uv
    uv generate-shell-completion zsh > ~/.zsh/completion/_uv
    uvx --generate-shell-completion zsh > ~/.zsh/completions/_uvx
    uvx --generate-shell-completion zsh > ~/.zsh/completion/_uvx
fi


if [ -n "$(command which k3d 2>/dev/null)" ]; then
    k3d completion zsh > ~/.zsh/completions/_k3d
    k3d completion zsh > ~/.zsh/completion/_k3d
fi



{{ end -}}
{{ end -}}
